{% extends 'base.html' %}

{% block title %}
Sign Up! - My Receipts
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a href="{% url 'home' %}">Main Page</a>
    </nav>
</header>
<main>
    <div>
        <h1>Sign up!!</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Sign up</button>
        </form>
    </div>
</main>
{% endblock content %}
